[user]
        email = carlgay@gmail.com
        name = Carl Gay
[alias]
        amend = commit -a --amend --no-edit
        s = status
        b = branch
        co = checkout
        sb = status --short --branch
	ll = log --oneline -20
	lll = log --oneline -40
[credential]
	helper = store
